{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <!-- First Blog Post -->
        <h2>
          <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h2>
        <p class="lead">
          by <a href="index.php">Start Bootstrap</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> {{ post.published_date }}</p>
        <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <p>{{ post.text|linebreaksbr }}</p>
        <a class="btn btn-primary" href="{% url 'post_detail' pk=post.pk %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>

    {% endfor %}
{% endblock content %}
